<div id="page">
  <div id="ticket-box">
    <div id="ticket-wrapper">

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="1" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="2" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="3" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="4" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="5" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

      <div class="fade-wrap">
        <div class="ticket-title">
          <h2 class="pink">Printer is on fire</h2>
        </div>
        <div id="6" class="ticket-body">
          <p class="pink">It's emitting lots of colourful smoke</p>
        </div>
      </div>

    </div>
  </div>
</div>
