<div id="page">
  <div id="ticket-box">
    <div id="ticket-wrapper">
      <div class="ticket-title">
        <h2 class="pink">Printer is on fire</h2>
      </div>
      <div class="ticket-body">
        <p class="pink">It's emitting lots of colourful smoke</p>
      </div>
    </div>
  </div>
</div>
