<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ZenTickets</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <%= @ticket %>
  <h2>Hey</h2>
</body>
</html>
