
  <div class="ticket-box">
    <% @tickets.each do |ticket| %>
      <div class="ticket-wrapper">
        <div class="fade-wrap">
          <div class="ticket-title">
            <h2 class="pink">a<%= ticket["subject"] %></h2>
          </div>
          <div class="ticket-body">
            <p class="pink"><%= ticket["description"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
