.ticket-box {
  margin-left: 4em;
  margin-top: 2em;
  opacity: 0;
}

.dissappear {
  opacity: 0;
}

.reappear {
  opacity: 100;
}


.ticket-wrapper {
  position: relative;
  display: block;
  /*width: 500px;*/
  background: #fefefe;
}

.fade-wrap {
  opacity: 0;
  transition: opacity;
  animation: fadeIn 1s ease-in both;
}

.ticket-title {
  margin: 0;

}

.ticket-title > h3 {
  padding: 4px 12px 4px 12px;
  margin: 8px;
  border-radius: 800px;
  border: 3px dashed transparent;
  transition: border 1s fadeIn  ;
}

div.ticket-title > h3:hover {
  border: 3px dashed rgba(233,0,123, 0.4);
  cursor: pointer;
}

.ticket-body {
  position: absolute;
  top: 0;
  opacity: 0;
  margin: 3em 3em 3em 4em;
}

.relative-opacity {
  position: relative;
   opacity: 100;
  animation: fadeIn .2s ease-in both;
}

#ticket-wrapper div:nth-child(1) {
  animation-delay: .4s;
}

#ticket-wrapper div:nth-child(2) {
  animation-delay: .6s;
}

#ticket-wrapper div:nth-child(3) {
  animation-delay: .8s;
}

#ticket-wrapper div:nth-child(4) {
  animation-delay: 1s;
}

#ticket-wrapper div:nth-child(5) {
  animation-delay: 1.2s;
}

#ticket-wrapper div:nth-child(6) {
  animation-delay: 1.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    opacity: 100;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}
